body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    max-height: 100ch;
}

header,
footer {
    display: flex;
    background-color: #4682b4;
    justify-content: center;
}

header h1,
footer p {
    display: flex;
    color: white;
    justify-content: center;
}

form input,
button {
    background-color: white;
    border-color: white;
}

form {
    margin-bottom: 20px;
}

main {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
}

form input {
    padding-right: 493px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    border-radius: 7px;
}

header button {
    position: absolute;
    margin-top: 82px;
    margin-left: 630px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    border-color: transparent;
}

li {
    list-style: none;
    margin-bottom: 40px
}

img {
    height: 190px;
    width: 220px;
}

img:nth-of-type(2) {
    padding: 60px;
}

.div-imagem-noticia {
    display: flex;
    gap: 10px;
    margin-left: 310px;
    margin-right: 390px;
    margin-top: 10px;
}

.div-informacao-noticia {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 500px;
    height: 20px;
}

h2,
.div-informacao-noticia p {
    margin: 0px;
}

svg {
    position: absolute;
    margin-left: 1000px;
    margin-top: 85px;
}

p {
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#button-leia-mais {
    width: 500px;
    height: 20px;
    background-color: #d4d4d4;
    color: black;
    border-color: transparent
}